<div class="col-sm-12 col-md-12 col-lg-12">
  <h4 class="subtitle">现在注册，第一时间获得IATA NDC实施指导</h4>
  <form class="form-inline signup" role="form" action="https://getsimpleform.com/messages?form_api_token=e8d4776a7be762c0d8f320df4c1021c9" method="post">
    <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
    <input type='hidden' name='redirect_to' value='http://ndctech.cn/thankyou' />
    <div class="form-group">
      <input type="email" class="form-control" name="mail" placeholder="请输入邮箱地址">
    </div>
    <button type="submit" class="btn btn-danger">立即注册</button>
  </form>      
</div>
